

<%= form_for( @maison, :html => { :multipart => true }) do |f| %>


<%= f.fields_for :maison do |p| %>
<div class="field">
 <%= p.label :image %><br>
 <%= p.file_field :image, :multiple => true, name:     "photos[image][]" %>
</div>
<% end %>

<input type="hidden" name="agent_id" value="<%= current_agent.id %>">
<div class="actions">
 <%= f.submit %>
</div>
<% end %>