

<%= form_for( @maison, :html => { :multipart => true }) do |f| %>



<div class="field">
        <%= f.label :title %><br>
        <%= f.text_field :title %><br>
        
        <%= f.label :Prix_en_Ar  %><br>
        <%= f.select :prix, ['20000', '40000', '60000']%><br>
        <%= f.label :Equipement %><br>
        
        <%= f.select :equipement, ['Equipement de base', 'Wi-fi', 'Télévision']%><br>
        <%= f.label :lieux %><br>
       
        <%= f.select :lieux, ['Près arret', 'calme', 'Avec des voisins']%><br>
        <%= f.label :duree %><br>
       
        <%= f.select :duree, ['Un mois', 'Deux mois', 'Trois mois']%><br>
           
 <%= f.label :image %><br>
 <%= f.file_field :image, :multiple => true, name:     "photos[image][]" %>
</div>


<input type="hidden" name="agent_id" value="<%= current_agent.id %>">
<div class="actions">
 <%= f.submit %>
</div>
<% end %>