<p id="notice"><%= notice %></p>

<h1>Maisons</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @maisons.each do |maison| %>
      <tr>
        <td><%= link_to 'Show', maison %></td>
        <td><%= link_to 'Edit', edit_maison_path(maison) %></td>
        <td><%= link_to 'Destroy', maison, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Maison', new_maison_path %>
