<!-- Preloader -->
    <div class="cp-preloader">
        <div class="cp-preloader__box">
            <div class="cp-preloader-inner">
                <i class="icon fa fa-plane"></i>
            </div>
        </div>
    </div>
    <!-- End Preloader -->

    <!-- Header Area -->
    <header id="site-header" class="site-header">
        <!-- Start Topbar -->
        <div class="topbar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                        <!-- Text -->
                        <p>Bienvenue dans E-Louer || Logements pour tous les étudiants</p>
                        <!--/ End Text -->
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <!-- Social -->
                        <ul class="social">
                            <li>
                                <a href="index.html#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                        </ul>
                        <!--/ End Social -->
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Topbar -->
        <!-- Middle Header -->
        <div class="middle-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-12">
                        <!-- Logo -->
                        <div class="logo">
                            <a href="index.html">
                                <img src="/images//logo-elouer.png" alt="logo">
                            </a>
                        </div>
                        <!--/ End Logo -->
                        <div class="mobile-nav"></div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-12">
                        <!-- Header Widget -->
                        <div class="header-widget">
                            <!-- Single Widget -->
                            <div class="single-widget">
                                <img src="/images//location-icon.png" alt="#">
                                <h4>76 Bonnet Ivandry
                                </h4>
                                <p>Antananarivo Madagascar</p>
                            </div>
                            <!--/ End Single Widget -->
                            <!-- Single Widget -->
                            <div class="single-widget">
                                <img src="/images//call-icon.png" alt="#">
                                <h4>+26134 49 295 99</h4>
                                <p>Madagascar</p>
                            </div>
                            <!--/ End Single Widget -->
                            <!-- Single Widget -->
                            <div class="single-widget">
                                <img src="/images//clock-icon.png" alt="#">
                                <h4>Vend -Fri: 9:00-19:00</h4>
                                <p>Juin 2018</p>
                            </div>
                            <!--/ End Single Widget -->
                        </div>
                        <!--/ End Header Widget -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Middle Header -->
        <!-- Header Bottom -->
        <div class="header-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Main Menu -->
                        <div class="main-menu">
                            <nav class="navigation">
                                <ul class="nav menu">
                                    <li>
                                        <a href="/">Home</a>

                                    </li>
                                    <li class="active">
                                        <a href="/home/logement">Logement</a>

                                    </li>

                                    <li>
                                        <a href="#">Connexion
                                            <i class="fa fa-angle-down"></i>
                                        </a>
                                        <ul class="dropdown">
                                            <% if user_signed_in? %>
                                                <li>
                                                    <%= link_to "Se déconnecter", destroy_user_session_path, class: "dropdown-item", method: :delete %>
                                                </li>
                                                <% elsif agent_signed_in? %>
                                                    <li>
                                                        <%= link_to "Se déconnecter", destroy_agent_session_path, class: "dropdown-item", method: :delete %>
                                                    </li>
                                                    <% else %>
                                                        <li>
                                                            <a href="/users/sign_in">Etudiant</a>
                                                        </li>
                                                        <li>
                                                            <a href="/agents/sign_in">Agents</a>
                                                        </li>
                                                        <% end %>

                                        </ul>
                                    </li>
                                    <li>
                                        <a href="/home/contact">Contact</a>
                                    </li>
                                    <% if agent_signed_in? %>
                                        <li >
                                            <a href="/maisons">Dashboard Agent</a>
                                        </li>
                                        <% end %>
                                </ul>
                            </nav>
                        </div>
                        <!--/ End Main Menu -->
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Header Bottom -->
    </header>
    <!--/ End Header Bottom -->
    </header>
    <!--/ End Header Area -->
	
	<!-- Breadcrumb -->
	<div class="breadcrumbs overlay" data-stellar-background-ratio="0.7">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<ul class="list">
						<li><a href="/">Home</a></li>
						
						<li><a href="/maisons/">détail logement</a></li>
					</ul>
					<h2>Détail logement</h2>
				</div>
			</div>
		</div>
	</div>
	<!--/ End Breadcrumb -->
  
	<!-- Trip Single -->
	<section id="trip-single" class="trip-single section">
		<div class="container">
			<div class="row">	
				<div class="col-lg-8 col-12">
					<div class="trip-details">
						<!-- Trip Gallery -->
						<!-- <div class="trip-gallery">
							<div class="gallery-slider"> -->
                                
								<div class="single-slider"><img src="<%= @maison.photos[0].image%>" alt="#"></div>
								<!-- <% if @maison.photos[1] != nil %>
								<div class="single-slider"><img src="<%= @maison.photos[1].image%>" alt="#"></div>
								<% end %>
								<% if @maison.photos[2] != nil %>
								<div class="single-slider"><img src="<%= @maison.photos[2].image%>" alt="#"></div> -->
								<% end %>
							<!-- </div>
						</div> -->
						<!--/ End Trip Gallery -->
						<div class="trip-content">
							<div class="trip-head">
								<h2><%= @maison.title %></h2>
								<p><span class="price">AR <%= @maison.prix %>.00</span><span> / Mois</span></p>
							</div>
                            <p>Les détails seront placé ici prochainement.</p>
                           
						</div>
						<div class="trip-tab">
							<div class="trip-tab-inner">
								<!-- Tab Nav -->                                                                                                   
								<ul class="nav nav-tabs" id="myTab" role="tablist">
									<li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#t-tab8" role="tab">Accessibilité</a></li>
									<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#t-tab9" role="tab">Emplacement</a></li>
									<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#t-tab10" role="tab">Commentaire</a></li>
									<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#t-tab11" role="tab">Lieux précis</a></li>
								</ul>
								<!--/ End Tab Nav -->                              
								<div class="tab-content" id="myTabContent">
									<!-- Tab Single -->
									<div class="tab-pane fade show active" id="t-tab8" role="tabpanel">
										<p>We harvest fresh ideas and deliver uncom intelligent design. We collaborate with atr forward thinking  ats clients. Lorem Ipsum passages, and more recently including. Dummy text of the printing and type setting industry. Lorem Ipsum</p>
										<p>We harvest fresh ideas and deliver uncom intelligent design. We collaborate with atr forward thinking  ats clients. Lorem Ipsum passages, and more recently including. Dummy text of the printing and type setting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make</p>
									</div>
									<!--/ End Tabn Single -->
									<!-- Tab Single -->
									<div class="tab-pane fade" id="t-tab9" role="tabpanel" >
										<p>We harvest fresh ideas and deliver uncom intelligent design. We collaborate with atr forward thinking  ats clients. Lorem Ipsum passages, and more recently including. Dummy text of the printing and type setting industry. Lorem Ipsum</p>
										<p>We harvest fresh ideas and deliver uncom intelligent design. We collaborate with atr forward thinking  ats clients. Lorem Ipsum passages, and more recently including. Dummy text of the printing and type setting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make</p>
									</div>
									<!--/ End Tabn Single -->
									<!-- Tab Single -->
									<div class="tab-pane fade" id="t-tab10" role="tabpanel" >
										<p>We harvest fresh ideas and deliver uncom intelligent design. We collaborate with atr forward thinking  ats clients. Lorem Ipsum passages, and more recently including. Dummy text of the printing and type setting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
										<p>We harvest fresh ideas and deliver uncom intelligent design. We collaborate with atr forward thinking  ats clients. Lorem Ipsum passages, and more recently including. Dummy text of the printing and type setting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
									</div>
									<!--/ End Tabn Single -->
									<!-- Tab Single -->
									<div class="tab-pane fade" id="t-tab11" role="tabpanel" >
										<p>We harvest fresh ideas and deliver uncom intelligent design. We collaborate with atr forward thinking  ats clients. Lorem Ipsum passages, and more recently including. Dummy text of the printing and type setting industry. Lorem Ipsum</p>
										<p>We harvest fresh ideas and deliver uncom intelligent design. We collaborate with atr forward thinking  ats clients. Lorem Ipsum passages, and more recently including. Dummy text of the printing and type setting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make</p>
									</div>
									<!--/ End Tabn Single -->
								</div>
							</div>
							<!--/ End Post Tab -->
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-12">
					<!-- Trip Sidebar -->
					<div class="sidebar-main">
						<!-- Booking Form -->
						<div class="single-widget booking">
							<h2>Action à faire</h2>
							<form class="form">
								<div class="form-group date">
									<h4>Arrival Date</h4>
									<input type="text" id="datepicker">
									<i class="fa fa-calendar"></i>
								</div>
								<div class="form-group date">
									<h4>Departure Date</h4>
									<input type="text" id="datepicker2">
									<i class="fa fa-calendar"></i>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-lg-6 col-md-6 col-12">
											<h4>Adults</h4>
											<div class="nice-select form-control wide" tabindex="0"><span class="current">02</span>
												<ul class="list">
													<li data-value="1" class="option selected">01</li>
													<li data-value="2" class="option">02</li>
													<li data-value="3" class="option">03</li>
													<li data-value="4" class="option">04</li>
													<li data-value="5" class="option">05</li>
												</ul>
											</div>
										</div>
										<div class="col-lg-6 col-md-6 col-12">
											<h4>Child</h4>
											<div class="nice-select form-control wide" tabindex="0"><span class="current">03</span>
												<ul class="list">
													<li data-value="1" class="option selected">01</li>
													<li data-value="2" class="option">02</li>
													<li data-value="3" class="option">03</li>
													<li data-value="4" class="option">04</li>
													<li data-value="5" class="option">05</li>
												</ul>
											</div>
										</div>
									</div>
                                </div>
                                <% if user_signed_in? %>
                              
								<div class="form-group button">
                                    <!-- <button type="submit" class="btn">Reservé</button> -->
                                    <a href="/" class="btn">Reservez</a>
                                </div>
                                <% elsif agent_signed_in? %>
                                <div class="form-group button">
                                    <!-- <button type="submit" class="btn">Reservé</button> -->
                                    <a href="/" class="btn">Contactez Agents</a>
                                </div>

                                <% else %>

                                <div class="form-group button">
                                    <a href="/users/sign_in" class="btn">Inscrivez-vous</a>
                                    
                                </div>

                                <% end %>

							</form>
						</div>
						<!-- End Booking Form -->
                        <!-- Trip list -->
                     
						<div class="single-widget trip-details">
							<h2>Autre détail</h2>
							<div class="trip-list">
								<!-- single list -->
								<div class="single-list">
									<div class="left">Réference :</div>
									<div class="right"><%= @maison.title %></div>
								</div>
								<!--/ End single list -->
								<!-- single list -->
								<div class="single-list">
									<div class="left">Disponibilité:</div>
									<div class="right"><%= @maison.duree %></div>
								</div>
								<!--/ End single list -->
								<!-- single list -->
								<div class="single-list">
									<div class="left">Prix:</div>
									<div class="right"><%= @maison.prix %></div>
								</div>
								<!--/ End single list -->
								<!-- single list -->
								<div class="single-list">
									<div class="left">Equipement:</div>
									<div class="right"><%= @maison.equipement %></div>
								</div>
								<!--/ End single list -->
								<!-- single list -->
								<div class="single-list">
									<div class="left">Lieux :</div>
									<div class="right"><%= @maison.lieux %></div>
								</div>
								<!--/ End single list -->
								<!-- single list -->
								
								<!--/ End single list -->
                            </div>
                             
						</div>
						<!--/ End Trip list -->
						
						<!-- Other Trips -->
						
						<!--/ End Other Trips -->
					</div>
					<!--/ End Trip Sidebar -->
				</div>
			</div>
		</div>
	</section>
	<!--/ End Trip Single -->
	
	
    <!-- Footer -->
    <!-- Footer -->
    <footer class="footer">
        <!-- Footer Top -->
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-widget">
                            <h2>Company</h2>
                            <ul>
                                <li>
                                    <a href="about.html">A propos de nous</a>
                                </li>
                                <li>
                                    <a href="services.html">Nos Service</a>
                                </li>

                                <li>
                                    <a href="/home/contact">Contact</a>
                                </li>
                            </ul>
                        </div>
                        <!--/ End Single Widget -->
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-widget">
                            <h2>Reservation</h2>
                            <ul>
                                <li>
                                    <a href="404.html">Coming soon</a>
                                </li>
                                <li>
                                    <a href="#">Copyright</a>
                                </li>

                            </ul>
                        </div>
                        <!--/ End Single Widget -->
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-widget gallery">
                            <h2>Gallery d' Image</h2>
                            <ul class="list">
                                <li>
                                    <a href="/images//p-package/logement1.jpg" data-fancybox="photo">
                                        <img src="/images//p-package/logement1.jpg" alt="#">
                                    </a>
                                </li>
                                <li>
                                    <a href="/images//p-package/logement2.jpg" data-fancybox="photo">
                                        <img src="/images//p-package/logement2.jpg" alt="#">
                                    </a>
                                </li>
                                <li>
                                    <a href="/images//p-package/logement3.jpg" data-fancybox="photo">
                                        <img src="/images//p-package/logement3.jpg" alt="#">
                                    </a>
                                </li>
                                <li>
                                    <a href="/images//p-package/logement4.jpg" data-fancybox="photo">
                                        <img src="/images//p-package/logement4.jpg" alt="#">
                                    </a>
                                </li>
                                <li>
                                    <a href="/images//p-package/logement5.jpg" data-fancybox="photo">
                                        <img src="/images//p-package/logement5.jpg" alt="#">
                                    </a>
                                </li>
                                <li>
                                    <a href="/images//p-package/logement1.jpg" data-fancybox="photo">
                                        <img src="/images//p-package/logement1.jpg" alt="#">
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--/ End Single Widget -->
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-widget about">
                            <img src="/images//logo-elouer.png" alt="#">
                            <p>E-Louer est un nom de company reservé. Par le team E-Louer et par la company Sayna.io</p>
                        </div>
                        <!--/ End Single Widget -->
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Footer Top -->
        <!-- Footer Bottom -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="bottom-inner">
                            <div class="row">
                                <div class="col-lg-8 col-md-8 col-12">
                                    <!-- Copyright -->
                                    <div class="copyright">
                                        <p>Copyright &#9400; 2018 by
                                            <a href="index.html#">E-Louer Team</a> All Right Reserved</p>
                                    </div>
                                    <!--/ End Copyright -->
                                </div>
                                <div class="col-lg-4 col-md-4 col-12">
                                    <!-- Social -->
                                    <ul class="social">
                                        <li>
                                            <a href="index.html#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="index.html#">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="index.html#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="index.html#">
                                                <i class="fa fa-google-plus"></i>
                                            </a>
                                        </li>
                                    </ul>
                                    <!--/ End Social -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Footer Bottom -->
    </footer>
    <!--/ End footer -->

    <!-- Jquery -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-migrate-3.0.0.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <!-- Popper JS -->
    <script src="/js/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Bootstrap Datepicker JS -->
    <script src="/js/bootstrap-datepicker.js"></script>
    <!-- Steller JS -->
    <script src="/js/steller.js"></script>
    <!-- Fancybox JS -->
    <script src="/js/facnybox.min.js"></script>
    <!-- Circle Progress JS -->
    <script src="/js/circle-progress.min.js"></script>
    <!-- Slicknav JS -->
    <script src="/js/slicknav.min.js"></script>
    <!-- Niceselect JS -->
    <script src="/js/niceselect.js"></script>
    <!-- Owl Carousel JS -->
    <script src="/js/owl-carousel.js"></script>
    <!-- Magnific Popup JS -->
    <script src="/js/magnific-popup.js"></script>
    <!-- Waypoints JS -->
    <script src="/js/waypoints.min.js"></script>
    <!-- Wow Min JS -->
    <script src="/js/wow.min.js"></script>
    <!-- Jquery Counterup JS -->
    <script src="/js/jquery-counterup.min.js"></script>
    <!-- Ytplayer JS -->
    <script src="/js/ytplayer.min.js"></script>
    <!-- ScrollUp JS -->
    <script src="/js/scrollup.js"></script>
    <!-- Easing JS -->
    <script src="/js/easing.js"></script>
    <!-- Google Map JS -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnhgNBg6jrSuqhTeKKEFDWI0_5fZLx0vM"></script>
    <script src="/js/gmap.min.js"></script>
    <!-- Active JS -->
    <script src="/js/active.js"></script>