<!DOCTYPE html>
<html lang="zxx">

<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='copyright' content=''>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Title Tag  -->
    <title>Contact</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/images//favicon.png">
    <!-- Web Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- StyleSheet -->
    <link rel="stylesheet" href="/css/nice-select.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/datepicker.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.min.css">

    <link rel="stylesheet" href="/css/owl-carousel.css">
    <link rel="stylesheet" href="/css/slicknav.min.css">
    <link rel="stylesheet" href="/css/animate.css">

    <!-- TravelTrek StyleSheet -->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="/css/responsive.css">

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.//js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="js">

        <div class="cp-preloader">
                <div class="cp-preloader__box">
                    <div class="cp-preloader-inner">
                        <i class="icon fa fa-plane"></i>
                    </div>
                </div>
            </div>
            <!-- End Preloader -->
        
            <!-- Header Area -->
            <header id="site-header" class="site-header">
                <!-- Start Topbar -->
                <div class="topbar">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <!-- Text -->
                                <p>Bienvenue dans E-Louer || Logements pour tous les étudiants</p>
                                <!--/ End Text -->
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <!-- Social -->
                                <ul class="social">
                                    <li><a href="index.html#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="index.html#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="index.html#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="index.html#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                                <!--/ End Social -->
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ End Topbar -->
                <!-- Middle Header -->
                <div class="middle-header">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-12">
                                    <!-- Logo -->
                                    <div class="logo">
                                        <a href="/"><img src="/images/logo-elouer.png" alt="logo"></a>
                                    </div>
                                    <!--/ End Logo -->
                                    <div class="mobile-nav"></div>
                                </div>
                                <div class="col-lg-9 col-md-9 col-12">
                                    <!-- Header Widget -->
                                    <div class="header-widget">
                                        <!-- Single Widget -->
                                        <div class="single-widget">
                                            <img src="/images/location-icon.png" alt="#">
                                            <h4>76 Bonnet Ivandry
                                                </h4>
                                            <p>Antananarivo Madagascar</p>
                                        </div>
                                        <!--/ End Single Widget -->
                                        <!-- Single Widget -->
                                        <div class="single-widget">
                                            <img src="/images/call-icon.png" alt="#">
                                            <h4>+26134 49 295 99</h4>
                                            <p>Madagascar</p>
                                        </div>
                                        <!--/ End Single Widget -->
                                        <!-- Single Widget -->
                                        <div class="single-widget">
                                            <img src="/images/clock-icon.png" alt="#">
                                            <h4>Vend -Fri: 9:00-19:00</h4>
                                            <p>Juin 2018</p>
                                        </div>
                                        <!--/ End Single Widget -->
                                    </div>
                                    <!--/ End Header Widget -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header-bottom">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <!-- Main Menu -->
                                        <div class="main-menu">
                                            <nav class="navigation">
                                                <ul class="nav menu">
                                                    <li>
                                                        <a href="/">Home</a>
                
                                                    </li>
                                                    <li class="active">
                                                        <a href="/home/logement">Logement</a>
                                                        
                                                    </li>
                                                    
                                                    <li>
                                                        <a href="#">Connexion
                                                            <i class="fa fa-angle-down"></i>
                                                        </a>
                                                        <ul class="dropdown">
                                                                <% if user_signed_in? %>
                                                                <li>
                                                                        <%= link_to "Se déconnecter", destroy_user_session_path, class: "dropdown-item", method: :delete %>
                                                                </li>
                                                                <% elsif agent_signed_in? %>
                                                                <li>
                                                                        <%= link_to "Se déconnecter", destroy_agent_session_path, class: "dropdown-item", method: :delete %>
                                                                </li>
                                                                <% else %>
                                                            <li>
                                                                <a href="/users/sign_in">Etudiant</a>
                                                            </li>
                                                            <li>
                                                                <a href="/agents/sign_in">Agents</a>
                                                            </li>
                                                            <% end %>
                
                                                        </ul>
                                                    </li>
                                                    <li  >
                                                        <a href="/home/contact">Contact</a>
                                                    </li>
                                                    <% if agent_signed_in? %>
                                                    <li>
                                                            <a href="/maisons">Dashboard Agent</a>
                                                    </li>
                                                    <% end %>
                                                </ul>
                                            </nav>
                                        </div>
                                        <!--/ End Main Menu -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/ End Header Bottom -->
                    </header>
    <!--/ End Header Area -->

    <!-- Breadcrumb -->
    <div class="breadcrumbs overlay">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul class="list">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/page/logement">logement</a>
                        </li>
                       
                    </ul>
                    <h2>Les logements disponiles</h2>

                    <div class="bottom">
                            <form class="form">
                                <!-- Form Destination -->
                                
                                <!--/ End Form Destination -->
                                <!-- Form Activities -->
                               
                                <!--/ End Form Activities -->
                                <!-- Form Duration -->
                               
                                <!--/ End Form Duration -->
                                <!-- Form Budget -->
                               

                                <div class="form-group">
                                        <div class="form-control wide">
                                <%= search_form_for(@q) do |f| %>
                                <%= f.search_field :id_eq, placeholder: "Rechercher" %>
                                        </div>
                                </div>
                                <div class="form-group button">
								<%= f.submit "Rechercher", class: "btn" %>
                                <% end %>
                                </div>

                            
                                
                                <!--/ End Form Button -->
                            </form>
                        </div>
                        <!--/ End Search Form -->
                </div>
            </div>
        </div>
    </div>
    <!--/ End Breadcrumb -->

    <!-- Tour Package -->
    <section id="top-destination" class="top-destination section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="title-line center">
                        <p>trouvez les logements qui vous conviennent</p>
                        <h2>Logement</h2>
                    </div>
                </div>
            </div>


            <div class="row" id="myUL">
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Single Package -->
                    <div class="single-package">
                        <div class="trip-head">
                            <img src="/sary/base1t.jpg" alt="#">
                        </div>
                        <div class="trip-details">
                            <div class="left">
                                <h4>
                                    <a href="#">Tour package in Greenville, Carolina</a>
                                </h4>
                                <p>
                                    <i class="fa fa-clock-o"></i>3 Nights 4 Days</p>
                            </div>
                            <div class="right">
                                <p>Pour
                                    <span>$300</span>
                                </p>
                            </div>
                            <a href="#" class="btn primary">Plus de détail</a>
                        </div>
                    </div>
                    <!--/ End Single Package -->
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Single Package -->
                    <div class="single-package">
                        <div class="trip-head">
                            <img src="/sary/base2t.jpg" alt="#">
                        </div>
                        <div class="trip-details">
                            <div class="left">
                                <h4>
                                    <a href="#">Snorkel Tour in Grand Turks Coral Reef</a>
                                </h4>
                                <p>
                                    <i class="fa fa-clock-o"></i>4 Nights 5 Days</p>
                            </div>
                            <div class="right">
                                <p>Pour
                                    <span>Ar50000</span>
                                </p>
                            </div>
                            <a href="#" class="btn primary">Plus de détail</a>
                        </div>
                    </div>
                    <!--/ End Single Package -->
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Single Package -->
                    <div class="single-package">
                        <div class="trip-head">
                            <div class="trip-offer">30% OFF</div>
                            <img src="/sary/base3t.jpg" alt="#">
                        </div>
                        <div class="trip-details">
                            <div class="left">
                                <h4>
                                    <a href="#">Awesome tour package in pattaya</a>
                                </h4>
                                <p>
                                    <i class="fa fa-clock-o"></i>2 Nights 3 Days</p>
                            </div>
                            <div class="right">
                                <p>Pour
                                    <span>Ar40000</span>
                                </p>
                            </div>
                            <a href="#" class="btn primary">Plus de détail</a>
                        </div>
                    </div>
                    <!--/ End Single Package -->
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Single Package -->
                    <div class="single-package">
                        <div class="trip-head">
                            <img src="/sary/base4t.jpg" alt="#">
                        </div>
                        <div class="trip-details">
                            <div class="left">
                                <h4>
                                    <a href="#">Snorkel Tour in Grand Turks Coral Reef</a>
                                </h4>
                                <p>
                                    <i class="fa fa-clock-o"></i>2 Nights 1 Days</p>
                            </div>
                            <div class="right">
                                <p>Pour
                                    <span>Ar10000</span>
                                </p>
                            </div>
                            <a href="#" class="btn primary">Plus de détail</a>
                        </div>
                    </div>
                    <!--/ End Single Package -->
                </div>


            <% @maisons.each do |maison| %>
           
            
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Single Package -->
                    <div class="single-package">
                        <div class="trip-head">
                            <img src="<%= maison.photos[0].image_url(:thumb).to_s %>" alt="#">
                        </div>
                        <div class="trip-details">
                            <div class="left">
                                <h4>
                                    <a href="<%= maison_path(maison.id) %>"><%= maison.title %></a>
                                </h4>
                                <p>
                                    <i class="fa fa-clock-o"></i><%= maison.duree %></p>
                            </div>
                            <div class="right">
                                <p>Prix Location
                                    <span>Ar<%= maison.prix %></span>
                                </p>
                            </div>
                            <a href="<%= maison_path(maison.id) %>" class="btn primary">Plus de détail</a>
                        </div>
                    </div>
                    <!--/ End Single Package -->
                </div>
                
                

        <% end %>       
        </div>
        
    </section>
    
  

    <!-- Clients -->
	<div id="clients" class="clients section">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="clients-slider">
							<!-- Single Clients -->
							<div class="single-clients">
								<a href="https://www.thehackingproject.org" target="_blank">
									<img src="/images/part/logo-thp.png" alt="#">
								</a>
							</div>
							<!--/ End Single Clients -->
							<!-- Single Clients -->
							<div class="single-clients active">
								<a href="https://www.passion4humanity.com" target="_blank">
									<img src="/images/part/P4h.png" alt="#">
								</a>
							</div>
							<!--/ End Single Clients -->
							<!-- Single Clients -->
							<div class="single-clients">
								<a href="https://www.sayna.io" target="_blank">
									<img src="/images/part/sayna.png" alt="#">
								</a>
							</div>
							<!--/ End Single Clients -->
							<!-- Single Clients -->
							<div class="single-clients">
								<a href="#" target="_blank">
									<img src="/images/part/e-anatra.png" alt="#">
								</a>
							</div>
							<div class="single-clients">
								<a href="https://floating-cove-40039.herokuapp.com/" target="_blank">
									<img src="/images/part/evpromote.png" alt="#">
								</a>
							</div>
							<!--/ End Single Clients -->
							<!-- Single Clients -->
	
							<!--/ End Single Clients -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Clients -->

    <!-- Footer -->
    <!-- Footer -->
    <footer class="footer">
        <!-- Footer Top -->
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-widget">
                            <h2>Company</h2>
                            <ul>
                                <li>
                                    <a href="about.html">A propos de nous</a>
                                </li>
                                <li>
                                    <a href="services.html">Nos Service</a>
                                </li>

                                <li>
                                    <a href="/home/contact">Contact</a>
                                </li>
                            </ul>
                        </div>
                        <!--/ End Single Widget -->
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-widget">
                            <h2>Reservation</h2>
                            <ul>
                                <li>
                                    <a href="404.html">Coming soon</a>
                                </li>
                                <li>
                                    <a href="#">Copyright</a>
                                </li>

                            </ul>
                        </div>
                        <!--/ End Single Widget -->
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-widget gallery">
                            <h2>Gallery d' Image</h2>
                            <ul class="list">
                                <li>
                                    <a href="/images//p-package/logement1.jpg" data-fancybox="photo">
                                        <img src="/images//p-package/logement1.jpg" alt="#">
                                    </a>
                                </li>
                                <li>
                                    <a href="/images//p-package/logement2.jpg" data-fancybox="photo">
                                        <img src="/images//p-package/logement2.jpg" alt="#">
                                    </a>
                                </li>
                                <li>
                                    <a href="/images//p-package/logement3.jpg" data-fancybox="photo">
                                        <img src="/images//p-package/logement3.jpg" alt="#">
                                    </a>
                                </li>
                                <li>
                                    <a href="/images//p-package/logement4.jpg" data-fancybox="photo">
                                        <img src="/images//p-package/logement4.jpg" alt="#">
                                    </a>
                                </li>
                                <li>
                                    <a href="/images//p-package/logement5.jpg" data-fancybox="photo">
                                        <img src="/images//p-package/logement5.jpg" alt="#">
                                    </a>
                                </li>
                                <li>
                                    <a href="/images//p-package/logement1.jpg" data-fancybox="photo">
                                        <img src="/images//p-package/logement1.jpg" alt="#">
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--/ End Single Widget -->
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-widget about">
                            <img src="/images/logo-elouer.png" alt="#">
                            <p>E-Louer est un nom de company reservé. Par le team E-Louer et par la company Sayna.io</p>
                        </div>
                        <!--/ End Single Widget -->
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Footer Top -->
        <!-- Footer Bottom -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="bottom-inner">
                            <div class="row">
                                <div class="col-lg-8 col-md-8 col-12">
                                    <!-- Copyright -->
                                    <div class="copyright">
                                        <p>Copyright &#9400; 2018 by
                                            <a href="index.html#">E-Louer Team</a> All Right Reserved</p>
                                    </div>
                                    <!--/ End Copyright -->
                                </div>
                                <div class="col-lg-4 col-md-4 col-12">
                                    <!-- Social -->
                                    <ul class="social">
                                        <li>
                                            <a href="index.html#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="index.html#">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="index.html#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="index.html#">
                                                <i class="fa fa-google-plus"></i>
                                            </a>
                                        </li>
                                    </ul>
                                    <!--/ End Social -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Footer Bottom -->
    </footer>
    <!--/ End footer -->

    <!-- Jquery -->
    <script>
            function myFunction() {
                var input, filter, ul, li, a, i;
                input = document.getElementById("myInput");
                filter = input.value.toUpperCase();
                ul = document.getElementById("myUL");
                li = ul.getElementsByTagName("div");
                for (i = 0; i < li.length; i++) {
                    a = li[i].getElementsByTagName("href")[0];
                    if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        li[i].style.display = "";
                    } else {
                        li[i].style.display = "none";
            
                    }
                }
            }
            </script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-migrate-3.0.0.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <!-- Popper JS -->
    <script src="/js/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Bootstrap Datepicker JS -->
    <script src="/js/bootstrap-datepicker.js"></script>
    <!-- Steller JS -->
    <script src="/js/steller.js"></script>
    <!-- Fancybox JS -->
    <script src="/js/facnybox.min.js"></script>
    <!-- Circle Progress JS -->
    <script src="/js/circle-progress.min.js"></script>
    <!-- Slicknav JS -->
    <script src="/js/slicknav.min.js"></script>
    <!-- Niceselect JS -->
    <script src="/js/niceselect.js"></script>
    <!-- Owl Carousel JS -->
    <script src="/js/owl-carousel.js"></script>
    <!-- Magnific Popup JS -->
    <script src="/js/magnific-popup.js"></script>
    <!-- Waypoints JS -->
    <script src="/js/waypoints.min.js"></script>
    <!-- Wow Min JS -->
    <script src="/js/wow.min.js"></script>
    <!-- Jquery Counterup JS -->
    <script src="/js/jquery-counterup.min.js"></script>
    <!-- Ytplayer JS -->
    <script src="/js/ytplayer.min.js"></script>
    <!-- ScrollUp JS -->
    <script src="/js/scrollup.js"></script>
    <!-- Easing JS -->
    <script src="/js/easing.js"></script>
    <!-- Google Map JS -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnhgNBg6jrSuqhTeKKEFDWI0_5fZLx0vM"></script>
    <script src="/js/gmap.min.js"></script>
    <!-- Active JS -->
    <script src="/js/active.js"></script>
</body>

</html>