<!DOCTYPE html>
<html>

<head>
 
  <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

      <!-- Meta Tag -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name='copyright' content=''>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Title Tag  -->
      <title>TravelTrek &minus; Travel Agency & Tour Booking HTML5 Template</title>
      <!-- Favicon -->
      <link rel="icon" type="image/png" href="images/favicon.png">
      <!-- Web Font -->
      <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">

      <!-- StyleSheet -->
      <link rel="stylesheet" href="css/nice-select.css">
      <link rel="stylesheet" href="css/bootstrap.css">
      <link rel="stylesheet" href="css/datepicker.css">
      <link rel="stylesheet" href="css/jquery-ui.css">
      <link rel="stylesheet" href="css/jquery.fancybox.min.css">
      <link rel="stylesheet" href="css/magnific-popup.min.css">

      <link rel="stylesheet" href="css/owl-carousel.css">
      <link rel="stylesheet" href="css/slicknav.min.css">
      <link rel="stylesheet" href="css/animate.css">

      <!-- TravelTrek StyleSheet -->
      <link rel="stylesheet" href="css/reset.css">
      <link rel="stylesheet" href="style.css">
      <link rel="stylesheet" href="css/responsive.css">

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  
  <%= yield %>
</body>

</html>